*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
    /* background-image: linear-gradient(120deg, #f6d365,  #fda085); */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 25%, rgba(6,84,170,1) 59%, rgba(0,212,255,1) 100%);
    color: white;
    font-family: 'Poppins';
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header, form {
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0;
    font-size: 2rem;
    border: none;
    background: white;
}

form button{
    color: #d88771;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 33px;
}

form button:hover{
    background: #d88771;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background: rgb(30, 42, 210);
    color: rgb(220, 117, 20);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem;
}

.complete-btn {
    background: #1747ca;
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.completed{
 text-decoration: line-through;
 opacity: 0.5;
}